<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.myapplication">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tital"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.administrator.myapplication.activity.PhoneScreenMatchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.myapplication.activity.MainActivity">
            <intent-filter>
                <action android:name="com.example.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.myapplication.activity.SlideActivity" />
        <activity android:name="com.example.administrator.myapplication.activity.LogoActivity" />
        <activity android:name="com.example.administrator.myapplication.activity.Slider_Activity" />
        <activity android:name="com.example.administrator.myapplication.activity.Strategy_Activity" />
        <activity android:name="com.example.administrator.myapplication.activity.Scene_Activity" />
        <activity android:name="com.example.administrator.myapplication.activity.SearchResultActivity"></activity>
        <activity android:name="com.example.administrator.myapplication.activity.SearchActivity"></activity>
    </application>

</manifest>